[package]
name = "tsukimi"
version = "0.0.1"
edition = "2021"
description = "A simple Emby Client with MPV written by GTK4-RS" 
license = "MIT"


[dependencies]
gtk = { version = "0.8", package = "gtk4", features = ["v4_12"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_yaml = "0.9.32"
serde_json = "1.0.114"
tokio = { version = "1.36.0", features = ["full"] }
reqwest = { version = "0.11", features = ["json"] }
async-channel = "2.2.0"
once_cell = "1.7.2"
dirs = "5.0.1"

[build-dependencies]
glib-build-tools = "0.19.0"


[package.metadata.deb]
maintainer = "Inaha <tsukinaha@tutanota.com>"
copyright = "2024, Inaha <tsukinaha@tutanota.com>"
license-file = ["LICENSE","4"]
extended-description = """\
A simple Emby Client with MPV \
Written by GTK4-RS."""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/tsukimi", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/tsukimi/README", "644"],
]
