[package]
name = "tsukimi"
version = "0.12.0"
edition = "2021"
description = "A simple Emby Client with MPV written by GTK4-RS" 
license = "GPL"


[dependencies]
gtk = { version = "0.9", package = "gtk4", features = ["v4_14"] }
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.127"
tokio = { version = "1.40.0", features = ["full"] }
reqwest = { version = "0.12", features = ["json"] }
async-channel = "2.3.1"
once_cell = "1.19.0"
dirs = "5.0.1"
adw = { version = "0.7", package = "libadwaita", features = ["v1_5"] }
cargo-deb = "2.6.1"
bytefmt = "0.1.7"
libc = "0.2.158"
uuid = { version = "1.10.0", features = ["v4"] }
chrono =  { version = "0.4.38", features = ["serde"] }
toml = "0.8.19"
tracing = "0.1.40"
gst = { version = "0.23", package = "gstreamer"}
url = "2.5.2"
libmpv2 = "=4.0.0"
image = "0.25.2"
gettext-rs = { version = "~0.7", features = ["gettext-system"] }
hostname = "0.4.0"
epoxy = "0.1.0"
gl = "0.14.0"
libloading = "0.8.5"
atomic-wait = "1.1.0"
flume = "0.11.0"

[build-dependencies]
glib-build-tools = "0.20.0"

[features]
default = ["protocols", "render"]
protocols = [] # Enable custom protocol callbacks
render = [] # Enable custom rendering
build_libmpv = [] # build libmpv automatically, provided MPV_SOURCE is set

[package.metadata.deb]
maintainer = "Inaha <tsukimi@tutanota.com>"
copyright = "2024, Inaha <tsukimi@tutanota.com>"
license-file = ["LICENSE","4"]
extended-description = """\
A simple Emby Client with MPV \
Written by GTK4-RS."""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/tsukimi", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/tsukimi/README", "644"],
]

[profile.release]
lto = true
