[package]
name = "tsukimi"
version = "25.5.0"
edition = "2024"
rust-version = "1.85"
description = "A simple Jellyfin Client written by GTK4-RS"
license = "GPL-3.0"


[dependencies]
gtk = { version = "0.9", package = "gtk4", features = ["v4_18"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tokio = { version = "1.46", features = ["full"] }
reqwest = { version = "0.12", default-features = false, features = [
  "http2",
  "rustls-tls",
  "rustls-tls-native-roots",
  "json",
  "gzip",
] }
once_cell = "1.21.3"
dirs = "6.0.0"
adw = { version = "0.7", package = "libadwaita", features = ["v1_7"] }
bytefmt = "0.1.7"
libc = "0.2.174"
uuid = { version = "1.16", features = ["v4"] }
chrono = { version = "0.4.41", features = ["serde"] }
tracing = "0.1.41"
gst = { version = "0.23", package = "gstreamer" }
url = "2.5.4"
image = "0.25.5"
gettext-rs = { version = "~0.7", features = ["gettext-system"] }
hostname = "0.4.1"
epoxy = "0.1.0"
libloading = "0.8.8"
atomic-wait = "1.1.0"
flume = "0.11.1"
derive_builder = "0.20.2"
anyhow = "1.0.98"
tracing-subscriber = { version = "0.3.19", features = ["chrono"] }
regex = "1.11.1"
strsim = "0.11.1"
clap = { version = "4.5.41", features = ["derive"] }
fnv = "1.0.7"
rand = "0.9.1"
base64 = "0.22.1"
libmpv2 = "4.1.0"
danmakw = { git = "https://github.com/tsukinaha/danmakw.git" }
dandanapi = { git = "https://github.com/tsukinaha/dandanapi.git" }
glow = "0.16.0"

[build-dependencies]
embed-resource = "3.0.5"
glib-build-tools = "0.20.0"

[features]
console = []                      # Enable console logging
default = ["protocols", "render"]
protocols = []                    # Enable custom protocol callbacks
render = []                       # Enable custom rendering
build_libmpv = []                 # build libmpv automatically, provided MPV_SOURCE is set

[target.'cfg(target_os = "linux")'.dependencies]
xattr = { version = "1.5.1" }

[target.'cfg(target_os = "windows")'.dependencies]
libproxy = { version = "0.1.1" }
windows = { version = "0.61.3", features = [
  "Win32_Foundation",
  "Win32_Storage_FileSystem",
  "Win32_Security",
  "Win32_System_IO",
  "Win32_System_Power",
] }

[profile.release]
lto = true
strip = true
debug = "limited"
codegen-units = 1

[profile.dev]
debug = true
