[package]
name = "tsukimi"
version = "0.7.0"
edition = "2021"
description = "A simple Emby Client with MPV written by GTK4-RS" 
license = "GPL"


[dependencies]
gtk = { version = "0.8.2", package = "gtk4", features = ["v4_14"] }
serde = { version = "1.0.203", features = ["derive"] }
serde_yaml = "0.9.34"
serde_json = "1.0.117"
tokio = { version = "1.38.0", features = ["full"] }
reqwest = { version = "0.12", features = ["json"] }
async-channel = "2.3.1"
once_cell = "1.19.0"
dirs = "5.0.1"
adw = { version = "0.6.0", package = "libadwaita", features = ["v1_5"] }
cargo-deb = "2.2.0"
bytefmt = "0.1.7"
crossbeam = "0.8.4"
libc = "0.2.155"
uuid = { version = "1.8.0", features = ["v4"] }
chrono =  { version = "0.4.38", features = ["serde"] }
toml = "0.8.13"
tracing = "0.1.40"
gst = { version = "0.22.6", package = "gstreamer"}
url = "2.5.2"
libmpv2 = "=4.0.0"
clapper = { path = "clapper-rs/libclapper-rs" }
clapper-gtk = { path = "clapper-rs/libclapper-gtk-rs" }
image = "0.25.1"

[build-dependencies]
glib-build-tools = "0.20.0"

[features]
default = ["protocols", "render"]
protocols = [] # Enable custom protocol callbacks
render = [] # Enable custom rendering
build_libmpv = [] # build libmpv automatically, provided MPV_SOURCE is set

[package.metadata.deb]
maintainer = "Inaha <tsukimi@tutanota.com>"
copyright = "2024, Inaha <tsukimi@tutanota.com>"
license-file = ["LICENSE","4"]
extended-description = """\
A simple Emby Client with MPV \
Written by GTK4-RS."""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    ["target/release/tsukimi", "usr/bin/", "755"],
    ["README.md", "usr/share/doc/tsukimi/README", "644"],
]

[profile.release]
lto = true
