[package]
name = "tsukimi"
version = "0.17.3"
edition = "2021"
rust-version = "1.81"
description = "A simple Emby Client written by GTK4-RS"
license = "GPL"


[dependencies]
gtk = { version = "0.9", package = "gtk4", features = ["v4_16"] }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"
tokio = { version = "1.42", features = ["full"] }
reqwest = { version = "0.12", default-features = false, features = ["http2", "native-tls", "native-tls-alpn", "json", "gzip"] }
async-channel = "2.3.1"
once_cell = "1.20.2"
dirs = "5.0.1"
adw = { version = "0.7", package = "libadwaita", features = [
    "v1_6",
] }
cargo-deb = "2.9.1"
bytefmt = "0.1.7"
libc = "0.2.167"
uuid = { version = "1.10.0", features = ["v4"] }
chrono = { version = "0.4.38", features = ["serde"] }
tracing = "0.1.41"
gst = { version = "0.23", package = "gstreamer" }
url = "2.5.4"
libmpv2 = { git = "https://github.com/kohsine/libmpv2-rs.git", package = "libmpv2" }
image = "0.25.5"
gettext-rs = { version = "~0.7", features = ["gettext-system"] }
hostname = "0.4.0"
epoxy = "0.1.0"
gl = "0.14.0"
libloading = "0.8.6"
atomic-wait = "1.1.0"
flume = "0.11.1"
derive_builder = "0.20.2"
anyhow = "1.0.93"
windows = { version = "0.58.0", features = ["Win32_Foundation", "Win32_Networking_WinHttp", "Win32_System_Power", "Win32_System_Registry", "Win32_UI_WindowsAndMessaging"] }
tracing-subscriber = { version="0.3.19", features = ["chrono"] }
gdk4-x11 = { version = "0.9", optional = true }
gdk4-win32 = { version = "0.9", optional = true }
regex = "1.11.1"
strsim = "0.11.1"
clap = { version="4.5.21", features = ["derive"] }
fnv = "1.0.7"
md-5 = "0.10.6"
unicode-segmentation = "1.12.0"
hex = "0.4.3"
rand = "0.8.5"
tower = { version="0.5.1", features = ["limit"] }

[build-dependencies]
embed-resource = "3.0.1"
glib-build-tools = "0.20.0"

[features]
console = [] # Enable console logging
default = ["protocols", "render"]
protocols = [] # Enable custom protocol callbacks
render = [] # Enable custom rendering
build_libmpv = [
] # build libmpv automatically, provided MPV_SOURCE is set
x11 = ["gdk4-x11"]
win32 = ["gdk4-win32"]

[target.'cfg(target_os = "linux")'.dependencies]
gdk4-x11 = { version = "0.9" }

[target.'cfg(target_os = "windows")'.dependencies]
gdk4-win32 = { version = "0.9" }

[package.metadata.deb]
maintainer = "Inaha <tsukimi@tutanota.com>"
copyright = "2024, Inaha <tsukimi@tutanota.com>"
license-file = ["LICENSE", "4"]
extended-description = """\
A simple Emby Client with MPV \
Written by GTK4-RS."""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
    [
        "target/release/tsukimi",
        "usr/bin/",
        "755",
    ],
    [
        "README.md",
        "usr/share/doc/tsukimi/README",
        "644",
    ],
]

[profile.release]
lto = true

[profile.dev]
debug = true
