.checkwatched {
  background: rgba(0, 0, 0, 0.1);
}

child {
  margin: 9px;
  border-radius: 15px;
}

.mask {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.8)
  );
  border-radius: 10px;
}

.logo {
  background: rgba(0, 0, 0, 0);
}

.bottom-bar {
  background: transparent;
}

.smooth-scale {
  padding-top: 0px;
  padding-bottom: 0px;
}

.frame {
  border: 2px solid @borders;
  border-radius: 5px;
}

.coverimage {
  border-radius: 10px;
}

.pill {
  border-radius: 10px;
}

.playing-song-label {
  font-weight: bold;
}

.home-carousel {
  border-radius: 10px;
  margin: 0px;
  box-shadow: none;
}

overlay {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 6px;
}

/* Starring */
button.star:hover {
  opacity: 1;
}

@keyframes rotate_star {
  from {
    -gtk-icon-transform: rotate(-72deg);
  }

  to {
  }
}

@keyframes rotate_unstar {
  from {
    -gtk-icon-transform: rotate(72deg);
  }

  to {
  }
}

button.star.interacted.starred image {
  animation: rotate_star 0.4s ease;
}

button.star.interacted:not(.starred) image {
  animation: rotate_unstar 0.4s ease;
}

.songwidget {
  padding: 12px;
}

.serverrow {
  margin: 6px;
  border-radius: 10px;
}

listview > row {
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 10px;
}

picture {
  border-radius: 10px;
}

listview {
  background-color: rgba(0, 0, 0, 0);
}

gridview {
  background-color: rgba(0, 0, 0, 0);
}

gridview > child box {
  margin: 0px;
}

overlay > label {
  background-color: #aeb5fa;
  border-radius: 999px;
  margin: 3px;
}

box > overlay > image {
  background-color: #aeb5fa;
  border-radius: 999px;
  margin: 3px;
}

revealer > box > box > widget {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

revealer > box > box > widget > box {
  margin: 10px;
}

tabbar > revealer > box {
  background-color: rgba(0, 0, 0, 0);
}

box > scrolledwindow > viewport > box > box {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

scrolledwindow > viewport > box > box > label {
  margin: 15px;
}

scrolledwindow > viewport > box > box > box {
  margin-left: 15px;
  margin-top: 15px;
}

@define-color accent_bg_color #AEB5FA;
@define-color accent_fg_color #3C0090;
@define-color accent_color #AEB5FA;

placessidebar {
  background-color: rgba(0, 0, 0, 0);
}

.sidebar-pane {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

windowcontrols > button {
  /* GTK4 */
  color: transparent;
  min-width: 2px;
  min-height: 2px;
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton.close,
windowcontrols > button.close {
  background-color: #bbbbbb;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  opacity: 0.8;
}

button.titlebutton.maximize,
windowcontrols > button.maximize {
  background-color: #bbbbbb;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  opacity: 0.8;
}

button.titlebutton.minimize,
windowcontrols > button.minimize {
  background-color: #bbbbbb;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  opacity: 0.8;
}

window {
  box-shadow: none;
}
