.sbackground {
  background: rgba(0, 0, 0, 0.15);
}

child {
  margin: 9px;
  border-radius: 15px;
}

.mediainfo {
  padding: 9px;
  border-radius: 15px;
}

.osd {
  padding: 7px;
}

.mask {
  filter: blur(5px);
  border-radius: 10px;
}

.top-control-bar {
  padding: 3px;
}

.logo {
  background: rgba(0, 0, 0, 0);
}

.bottom-bar {
  background: transparent;
}

.smooth-scale {
  padding-top: 0px;
  padding-bottom: 0px;
}

.frame {
  border: 2px solid @borders;
  border-radius: 5px;
}

.coverimage {
  border-radius: 10px;
}

.player-toolbar {
  border-radius: 50px;
}

.playing-song-label {
  font-weight: bold;
}

.home-carousel {
  border-radius: 10px;
  margin: 0px;
  box-shadow: none;
}

.boxshadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tu-listview>row {
  margin: 10px;
  border-radius: 10px;
}

/* Starring */
button.star:hover {
  opacity: 1;
}

@keyframes rotate_star {
  from {
    -gtk-icon-transform: rotate(-72deg);
  }

  to {}
}

@keyframes rotate_unstar {
  from {
    -gtk-icon-transform: rotate(72deg);
  }

  to {}
}

button.star.interacted.starred image {
  animation: rotate_star 0.4s ease;
}

button.star.interacted:not(.starred) image {
  animation: rotate_unstar 0.4s ease;
}

.songwidget {
  padding: 12px;
}

.no-padding {
  padding: 0px;
}

.serverrow {
  margin: 6px;
  border-radius: 10px;
}

.horizontal-listview>row {
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 10px;
}

.vertical-listview>row {
  margin: 9px;
  border-radius: 10px;
}

picture {
  border-radius: 10px;
}

listview {
  background-color: rgba(0, 0, 0, 0);
}

gridview {
  background-color: rgba(0, 0, 0, 0);
}

gridview>child box {
  margin: 0px;
}

overlay>label {
  background-color: #aeb5fa;
  border-radius: 50px;
  margin: 3px;
}

revealer>box>box>widget {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

revealer>box>box>widget>box {
  margin: 10px;
}

tabbar>revealer>box {
  background-color: rgba(0, 0, 0, 0);
}

scrolledwindow>viewport>box>box>box {
  margin-left: 15px;
  margin-top: 15px;
}

.osd>box {
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

@define-color accent_bg_color #AEB5FA;
@define-color accent_fg_color #3C0090;
@define-color accent_color #AEB5FA;

placessidebar {
  background-color: rgba(0, 0, 0, 0);
}

.card {
  box-shadow: none;
}

.sidebar-pane {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Expanding */
row.expand.interacted.expanded image {
  transform: rotate(-0.5turn);
}

row image {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}