@define-color transparent #00000000;

.sbackground {
  background: rgba(0, 0, 0, 0.15);
}

child {
  margin: 9px;
  border-radius: 15px;
}

button.pill.small {
  font-size: 0.83333em;
  border-radius: 99px;
  margin: 0;
  padding: 1px 12px;
}

.mediainfo {
  padding: 9px;
  border-radius: 15px;
}

.mask {
  filter: blur(5px);
  border-radius: 10px;
}

.top-control-bar {
  padding: 3px;
}

.logo {
  background: transparent;
}


.bottom-bar {
  background: transparent;
}

.smooth-scale {
  padding-top: 0px;
  padding-bottom: 0px;
}

.frame {
  border: 2px solid @borders;
  border-radius: 5px;
}

.coverimage {
  border-radius: 10px;
}

.player-toolbar {
  border-radius: 50px;
  padding: 7px;
}

.playing-song-label {
  font-weight: bold;
}

.home-carousel {
  border-radius: 10px;
  margin: 0px;
  box-shadow: none;
}

.boxshadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.tu-listview>row {
  margin: 10px;
  border-radius: 10px;
}

/* Starring */
button.star:hover {
  opacity: 1;
}

@keyframes rotate_star {
  from {
    -gtk-icon-transform: rotate(-72deg);
  }

  to {}
}

@keyframes rotate_unstar {
  from {
    -gtk-icon-transform: rotate(72deg);
  }

  to {}
}

button.star.interacted.starred image {
  animation: rotate_star 0.4s ease;
}

button.star.interacted:not(.starred) image {
  animation: rotate_unstar 0.4s ease;
}

.songwidget {
  padding: 12px;
}

.no-padding {
  padding: 0px;
}

.serverrow {
  margin: 6px;
  border-radius: 10px;
}

.horizontal-listview>row {
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 10px;
}

.vertical-listview>row {
  margin: 9px;
  border-radius: 10px;
}

picture {
  border-radius: 10px;
}

listview {
  background-color: transparent;
}

gridview {
  background-color: transparent;
}

gridview>child box {
  margin: 0px;
}

overlay>label {
  background-color: #aeb5fa;
  border-radius: 50px;
  margin: 3px;
}

revealer>box>box>widget {
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

revealer>box>box>widget>box {
  margin: 10px;
}

tabbar>revealer>box {
  background-color: transparent;
}

scrolledwindow>viewport>box>box>box {
  margin-left: 15px;
  margin-top: 15px;
}

.osd>box {
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

@define-color accent_bg_color #AEB5FA;
@define-color accent_fg_color #3C0090;
@define-color accent_color #AEB5FA;

placessidebar {
  background-color: transparent;
}

.card {
  box-shadow: none;
}

.sidebar-pane {
  background-color: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Expanding */
row.expand.interacted.expanded image {
  transform: rotate(-0.5turn);
}

row image {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.tulistitem-pic {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.tulistitempic-button {
  color: white;
  transition: transform 0.3s ease;
  transform: translateY(6px);
}

.tulistitem:hover .tulistitem-pic {
  opacity: 1;
}

.tulistitem:hover .tulistitempic-button {
  transform: translateY(0);
}

.themeselector {
  margin: 9px;
}

.themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}

.scroll-spinner {
	background-color: rgba(255,255,255,0.5);
	padding: 8px;
	border-radius: 99px;
}

.themeselector checkbutton.follow:checked,
.themeselector checkbutton.light:checked,
.themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}

.themeselector checkbutton.follow {
  background-image: linear-gradient(
    to bottom right,
    #fff 49.99%,
    #202020 50.01%
  );
}

.themeselector checkbutton.light {
  background-color: #fff;
}

.themeselector checkbutton.dark {
  background-color: #202020;
}

.themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}

checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.no-padding {
	padding: 0px;
}