[submodule "gir"]
	path = gir
	url = https://github.com/gtk-rs/gir
	update = none
[submodule "gir-files-gstreamer"]
	path = gir-files-gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gir-files-rs
[submodule "gir-files-gtk"]
	path = gir-files-gtk
	url = https://github.com/gtk-rs/gir-files
