[submodule "gir"]
	path = gir
	url = https://github.com/gtk-rs/gir
	update = none
[submodule "gir-files"]
	path = gir-files-gtk
	url = https://github.com/gtk-rs/gir-files
[submodule "gir-files-rs"]
	path = gir-files-gstreamer
	url = https://gitlab.freedesktop.org/gstreamer/gir-files-rs
