name: Process Artifacts

on:
  workflow_call:

jobs:
    telegram:
      name: Upload
      runs-on: ubuntu-latest
      if:  ${{ github.repository == 'tsukinaha/tsukimi' }}
      services:
        docker:
          image: aiogram/telegram-bot-api
          env:
            TELEGRAM_API_ID: ${{ secrets.TELEGRAM_API_ID }}
            TELEGRAM_API_HASH: ${{ secrets.TELEGRAM_API_HASH }}
          ports:
            - 8081:8081
          
      steps:
        - name: Download artifact
          uses: actions/download-artifact@v6

        - name: Create compressed file
          run: |
            for d in $(ls -d */); do
              if [[ "$d" == *-linux/ ]]; then
                tar --posix -czf "${d%/}.tgz" "$d"
              fi
            done
        - name: Upload to Telegram
          uses: MutsukiC/telegram-files@v1
          with:
            api-url: "http://localhost:8081"
            token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
            chat-id: ${{ secrets.TELEGRAM_CHAT_ID }}
            files: |
              **/*.tgz
              **/*.7z
              **/*.exe
            body: |
              Tsukimi CI
              Commit Message: ${{ github.event.head_commit.message}}
              Commit URL: ${{ github.event.head_commit.url }}

    release:
      name: Release
      runs-on: ubuntu-latest
      if: github.ref_type == 'tag'
      steps:
        - name: Download artifact
          uses: actions/download-artifact@v6
          with:
            pattern: '**-linux'
            path: artifacts-linux

        - name: Create compressed file
          run: |
            tar --posix -czf artifacts-linux/tsukimi-linux.tgz artifacts-linux/tsukimi-linux
        
        - name: Create release
          uses: softprops/action-gh-release@v2
          with:
            files: |
              *.tgz
            prerelease: ${{ github.ref_type == 'tag' && contains(github.ref_name, 'rc') }}