name: Linux CI
on:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: amd64
            os: ubuntu-latest
            arch: x86_64
          - platform: arm64
            os: ubuntu-24.04-arm
            arch: aarch64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache
        uses: actions/cache@v4
        with:
          path: target
          key: tsukimi-build-${{ matrix.arch }}-linux-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            tsukimi-build-${{ matrix.arch }}-linux-

      - name: Build tsukimi for ${{ matrix.platform }}
        run: |
          echo "${{ secrets.DANDANAPI_SECRET_KEY }}" > secret/key
          docker run --rm --platform linux/${{matrix.platform}} -v ${{ github.workspace }}:/app -v ./docker/entrypoint.sh:/entrypoint.sh ghcr.io/tsukinaha/ubuntu-rust-gtk4:latest
          sudo cp target/release/tsukimi .
          sudo cp -r i18n/locale .
          sudo cp resources/moe*.xml .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tsukimi-${{matrix.arch}}-linux
          path: |
            locale/
            tsukimi
            moe*.xml
