name: Linux CI
on:
  workflow_dispatch:
  push:
    branches:
      - "gtk414"
    paths-ignore:
      - "docs/**"
      - "**/.gitignore"
      - "**/.dockerignore"
      - LICENSE
      - "**/*.md"
  # pull_request:
  #   branches:
  #     - "main"
  #   paths-ignore:
  #     - "docs/**"
  #     - "**/.gitignore"
  #     - "**/.dockerignore"
  #     - LICENSE
  #     - "**/*.md"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: amd64
            arch: x86_64
          # - platform: arm64
          #   arch: aarch64

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Metadata
        run: |
          echo "user=${GITHUB_REPOSITORY_OWNER@L}" >> ${GITHUB_ENV}

      - name: Build tsukimi for ${{ matrix.platform }}
        run: |
          docker run --rm --platform linux/${{matrix.platform}} -v ${{ github.workspace }}:/app -v ./docker/entrypoint.sh:/entrypoint.sh ghcr.io/kosette/ubuntu-rust-gtk4:gtk414-latest
          sudo cp target/release/tsukimi .
          sudo cp target/debian/*.deb .
          sudo cp -r i18n/locale .
          sudo cp resources/moe*.xml .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tsukimi-${{matrix.arch}}-linux
          path: |
            locale/
            tsukimi
            *.deb
            moe*.xml
