name: Linux
on:
  workflow_call:

jobs:
  build:
    name: Build (${{ matrix.platform }})

    strategy:
      matrix:
        include:
          - platform: amd64
            os: ubuntu-latest
          - platform: arm64
            os: ubuntu-24.04-arm

    container:
      image: ubuntu:plucky

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get upgrade -y
          apt-get install -y git
          apt-get install -y --no-install-recommends build-essential curl gettext pkg-config libssl-dev libgtk-4-dev \
          libadwaita-1-dev libmpv-dev libgstreamer1.0-dev libgstreamer-plugins-bad1.0-dev \
          libgstreamer-plugins-base1.0-dev libgstreamer-plugins-good1.0-dev gstreamer1.0-libav \
          sccache

      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Get lockfile hash
        run: echo "LOCKFILE_HASH=$(sha256sum Cargo.lock | cut -d ' ' -f 1)" >> $GITHUB_ENV

      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ${{ github.workspace }}/.sccache
          key: tsukimi-build-${{ matrix.platform }}-linux-${{ env.LOCKFILE_HASH }}
          restore-keys: |
            tsukimi-build-${{ matrix.platform }}-linux-

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          cache: false

      - name: Setup sccache
        uses: gacts/run-and-post-run@v1
        env:
          SCCACHE_DIR: ${{ github.workspace }}/.sccache
          SCCACHE_IDLE_TIMEOUT: 0
          SCCACHE_DIRECT: false
          SCCACHE_CACHE_SIZE: 550M
        with:
          run: |
            sccache --start-server
            sccache -z
            sccache -s
          post: |
            sccache --stop-server

      - name: Build tsukimi for ${{ matrix.platform }}
        env:
          RUSTC_WRAPPER: sccache
          DANDANAPI_SECRET_KEY: ${{ secrets.DANDANAPI_SECRET_KEY }}
        run: |
          echo $DANDANAPI_SECRET_KEY > secret/key
          cargo build --release --locked

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tsukimi-${{ matrix.platform }}-linux
          path: |
            target/release/tsukimi
            i18n/locale
            resources/moe*.xml
